@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  height: auto;
  background-color: #1e2123;
  padding-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 2.5rem;
  background-color: #3b3f42;
  color: white;
  border-bottom: 1px solid grey;
}

.nav-title {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight: bold;
  -webkit-user-select: none;
  user-select: none;
}

.home-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

.home-title {
  color: white;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  padding-top: 1rem;
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  position: absolute;
  right: -320px;
  transition: right 0.5s;
  min-height: 100%;
  height: auto;
  width: 320px;
  background-color: #3b3f42;
  border-left: 1px solid grey;
  box-shadow: none;
  color: white;
  z-index: 10;
}

.slide-right {
  right: 0;
  box-shadow: 0px 0px 10px -2px black;
  clip-path: inset(0px 0px 0px -15px);
}

.add-card-title {
  text-align: center;
  padding: 1rem 0;
}

.add-card-form {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.input {
  color: white;
  background-color: #2a2d2f;
  outline: none;
  border: 1px solid grey;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  width: 100%;
  resize: none;
}

.input-label {
  position: relative;
}

.characters-remaining {
  color: white;
  position: absolute;
  font-size: 0.5rem;
  bottom: 1.65rem;
  right: 0.75rem;
}

.form-button {
  border: 1px solid grey;
  background-color: #102c64;
  color: white;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.form-button:hover {
  background-color: #0b204a;
}

.form-button:active {
  background-color: #091a3b;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.page-link {
  text-decoration: none;
  color: white;
  font-size: 0.75rem;
}

.nav-button {
  display: flex;
  list-style: none;
  height: 100%;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.nav-button.primary:hover {
  background-color: #102c64;
}

.nav-button.primary:active {
  background-color: #0b204a;
}

.links .nav-button:not(:first-child) {
  border-left: 0px;
}

.card-drawer {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
}

.card-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  height: 2rem;
}

.card-control-button {
  list-style: none;
  padding: 0.25rem 1rem;
  color: white;
  background-color: #102c64;
  border-radius: 5rem;
  border: 1px solid grey;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.card-control-button:hover {
  background-color: #0b204a;
}

.card-control-button:active {
  background-color: #091a3b;
}

.flashcard {
  background-color: #3b3f42;
  display: flex;
  position: relative;
  aspect-ratio: 3 / 2;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid grey;
  box-shadow: 0px 0px 12px -5px black;
  text-align: center;
  padding: 1rem;
  z-index: 1;
}

.side-title {
  display: flex;
  position: absolute;
  margin: 0.1rem;
  top: 0.25rem;
  left: 0.5rem;
  font-size: 0.5rem;
  color: rgb(173, 173, 173);
}

.card-buttons {
  display: flex;
  position: absolute;
  margin: 0.1rem;
  bottom: 0.1rem;
  right: 0.25rem;
  cursor: pointer;
}

.icon {
  padding: 0.25rem;
  font-size: 0.75rem;
  --fa-inverse: white;
}

.icon:hover {
  --fa-inverse: gray;
}

.icon:active {
  --fa-inverse: rgb(69, 69, 144);
}

.text {
  color: white;
  font-size: minmax(1rem, 2rem);
  -webkit-user-select: none;
  user-select: none;
}

.flip {
  animation: flipcard 0.25s ease-in-out 2 alternate;
}

@keyframes flipcard {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }

  100% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}
